@use "sass:color";

$body-primary-color: #c5c5c7c2;
$body-secondary-color: white;

$text-primary-color: black;
$text-secondary-color: black;

$border-color-dark: black;
$border-color-light: white;

$shadow-color-dark: black;
$shadow-color-light: white;

$neutral-hover: rgb(151, 151, 153);
$neutral-color: rgb(197, 197, 199);

$success-hover: rgba(0, 128, 0, 1);
$success-color: rgba(0, 128, 0, 0.7);

$warning-hover: rgba(255, 166, 0, 1);
$warning-color: rgba(255, 166, 0, 0.7);

$danger-hover: rgba(255, 0, 0, 1);
$danger-color: rgba(255, 0, 0, 0.7);
