@use "sass:color";
@use "sass:map";

$lightTheme: true;

$lightMap: (
  body-primary: #d6d6da,
);

$darkMap: ();

/*
Fonts and backgrounds
*/
$body-primary-color: #fdfdfd;
$body-secondary-color: white;

$text-primary-color: black;
$text-secondary-color: black;

$border-color-dark: black;
$border-color-light: white;

$shadow-color-dark: black;
$shadow-color-light: white;

/*
Buttons
*/
$b-color: white;
$b-background-color: rgb(68, 68, 68);

$neutral-hover: rgb(151, 151, 153);
$neutral-color: rgb(197, 197, 199);

$success-hover: rgba(0, 128, 0, 1);
$success-color: rgba(0, 128, 0, 0.7);

$warning-hover: rgba(255, 166, 0, 1);
$warning-color: rgba(255, 166, 0, 0.7);

$danger-hover: rgba(255, 0, 0, 1);
$danger-color: rgba(255, 0, 0, 0.7);

/*
Borders
*/
$border-color: rgb(68, 68, 68);
