.loading-box--large {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  border: 2px solid transparent;
  animation: loadingOverlay;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: rotateZ(45deg);
  .loading-box__text-container {
    transform: rotateZ(-45deg);
    p {
      font-size: auto;
      text-align: center;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}

.loading-box--small {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  width: 1rem;
  border: 2px solid transparent;
  animation: loadingOverlay;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: rotateZ(45deg);
}

@keyframes loadingOverlay {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: transparent;
    border-right-color: black;
  }
  50% {
    border-color: transparent;
    border-bottom-color: black;
  }
  75% {
    border-color: transparent;
    border-left-color: black;
  }
  100% {
    border-color: transparent;
    border-top-color: black;
  }
}
