/*
*App-Colors
*/
$primaryColor: #fdfdfd;
$secondaryColor: #504f4f;

$primaryAsBackground: #fdfdfd37;
$secondaryAsBackground: #504f4f35;

$primaryTextColor: rgb(126, 125, 125);
$secondaryTextColor: rgb(221, 221, 221);

$primaryAsActive: #fdfdfd0d;
$secondaryAsActive: #504f4f0b;

$successTextColor: rgb(77, 116, 77);
$successTextColorBright: rgb(131, 194, 131);
$successColor: rgba(0, 128, 0, 0.17);
$successColorBright: rgba(0, 128, 0, 0.17);

$dangerTextColor: rgb(116, 77, 77);
$dangerTextColorBright: rgb(233, 168, 168);
$dangerColor: rgba(128, 0, 0, 0.17);
$dangerColorBright: rgba(238, 6, 6, 0.17);

$infoColor: rgb(79, 79, 219);
$infoColorBright: rgb(147, 147, 216);

[theme="light"] {
  --primary-color: #{$primaryColor};
  --secondary-color: #{$secondaryColor};
  --border-color: #{$secondaryColor};
  --text-color: #{$primaryTextColor};
  --outer-background: #{$secondaryAsBackground};
  --inner-background: #{$primaryAsBackground};
  --active: #{primaryAsActive};

  --success-text: #{$successTextColor};
  --success-background: #{$successColor};

  --danger-text: #{$dangerTextColor};
  --danger-background: #{$dangerColor};

  --info-color: #{$infoColor};
}
[theme="dark"] {
  --primary-color: #{$secondaryColor};
  --secondary-color: #{$primaryColor};
  --border-color: #{$primaryColor};
  --text-color: #{$secondaryTextColor};
  --outer-background: #{$primaryAsBackground};
  --inner-background: #{$secondaryAsBackground};
  --active: #{secondaryAsActive};

  --success-text: #{$successTextColorBright};
  --success-background: #{$successColorBright};

  --danger-text: #{$dangerTextColorBright};
  --danger-background: #{$dangerColorBright};

  --info-color: #{$infoColorBright};
}
