/*
*App-Colors
*/
$primaryColor: #fdfdfd;
$secondaryColor: #504f4f;

$primaryAsBackground: #fdfdfd37;
$secondaryAsBackground: #504f4f35;

$primaryTextColor: rgb(126, 125, 125);
$secondaryTextColor: rgb(221, 221, 221);

$primaryAsActive: #fdfdfd0d;
$secondaryAsActive: #504f4f0b;

$successTextColor: rgb(77, 116, 77);
$successTextColorBright: rgb(131, 194, 131);
$successColor: rgba(0, 128, 0, 0.17);
$successColorBright: rgba(0, 128, 0, 0.17);

$dangerTextColor: rgb(116, 77, 77);
$dangerTextColorBright: rgb(233, 168, 168);
$dangerColor: rgba(128, 0, 0, 0.17);
$dangerColorBright: rgba(238, 6, 6, 0.17);

[theme="light"] {
  --primary-color: #{$primaryColor};
  --secondary-color: #{$secondaryColor};
  --border-color: #{$secondaryColor};
  --text-color: #{$primaryTextColor};
  --outer-background: #{$secondaryAsBackground};
  --inner-background: #{$primaryAsBackground};
  --active: #{primaryAsActive};

  --success-text: #{$successTextColor};
  --success-background: #{$successColor};

  --danger-text: #{$dangerTextColor};
  --danger-background: #{$dangerColor};
}
[theme="dark"] {
  --primary-color: #{$secondaryColor};
  --secondary-color: #{$primaryColor};
  --border-color: #{$primaryColor};
  --text-color: #{$secondaryTextColor};
  --outer-background: #{$primaryAsBackground};
  --inner-background: #{$secondaryAsBackground};
  --active: #{secondaryAsActive};

  --success-text: #{$successTextColorBright};
  --success-background: #{$successColorBright};

  --danger-text: #{$dangerTextColorBright};
  --danger-background: #{$dangerColorBright};
}

// button,
// input,
// label {
//   font-family: $font-mukta-family;
//   font-weight: $font-mukta-weight;
// }

// button[variant='chakra'],
// input[variant='chakra'],
// label[variant='chakra'] {
//   font-family: $font-chakra;
//   font-weight: $font-chakra-weight;
// }

// /*
// Borders
// */

// .bordered {
//   border: 2px solid rgb(68, 68, 68);
//   border-radius: 5px;
// }
// .bordered--small {
//   border: 1px solid rgb(68, 68, 68);
//   border-radius: $defaultBorderRadius;
// }

// /*
// Selections
// */
// .selection--active {
//   background-color: darken(#fdfdfd, 6%);
//   border-radius: $defaultBorderRadius;
// }
// .selection-text--active {
//   font-weight: 500;
//   // h-shadow v-shadow blur-radius color
//   text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.452);
// }
