/*
*App-Colors
*/
$primaryColor: #fdfdfd;
$secondaryColor: #504f4f;

$primaryAsBackground: #fdfdfd37;
$secondaryAsBackground: #504f4f35;

$primaryTextColor: rgb(126, 125, 125);
$secondaryTextColor: rgb(221, 221, 221);

$primaryAsActive: #fdfdfd0d;
$secondaryAsActive: #504f4f0b;

[theme="light"] {
  --primary-color: #{$primaryColor};
  --secondary-color: #{$secondaryColor};
  --border-color: #{$secondaryColor};
  --text-color: #{$primaryTextColor};
  --outer-background: #{$secondaryAsBackground};
  --inner-background: #{$primaryAsBackground};
  --active: #{primaryAsActive};
}
[theme="dark"] {
  --primary-color: #{$secondaryColor};
  --secondary-color: #{$primaryColor};
  --border-color: #{$primaryColor};
  --text-color: #{$secondaryTextColor};
  --outer-background: #{$primaryAsBackground};
  --inner-background: #{$secondaryAsBackground};
  --active: #{secondaryAsActive};
}

// button,
// input,
// label {
//   font-family: $font-mukta-family;
//   font-weight: $font-mukta-weight;
// }

// button[variant='chakra'],
// input[variant='chakra'],
// label[variant='chakra'] {
//   font-family: $font-chakra;
//   font-weight: $font-chakra-weight;
// }

// /*
// Borders
// */

// .bordered {
//   border: 2px solid rgb(68, 68, 68);
//   border-radius: 5px;
// }
// .bordered--small {
//   border: 1px solid rgb(68, 68, 68);
//   border-radius: $defaultBorderRadius;
// }

// /*
// Selections
// */
// .selection--active {
//   background-color: darken(#fdfdfd, 6%);
//   border-radius: $defaultBorderRadius;
// }
// .selection-text--active {
//   font-weight: 500;
//   // h-shadow v-shadow blur-radius color
//   text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.452);
// }
