@use "./variables" as *;
//Container styles
%flex-default-center {
  display: flex;
  align-items: center;
}
%flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Font related
%default-font-size {
  font-size: 24px;
}
%clip-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

//Spacings
%clean-padding-margin {
  padding: 0;
  margin: 0;
}
%default-padding {
  padding: $defaultPaddingSize;
}

%default-transition {
  transition: all 0.2s ease;
}

//Elements
%creditor-link {
  &:hover {
    box-shadow: 0px 0px 2px 2px var(--text-color) inset;
    cursor: pointer;
  }
  &.--is-active {
    // border: 1px solid var(--text-color);
    background-color: var(--active);
    color: var(--secondary-color);
    box-shadow: 0 0 4px 1px var(--secondary-color) inset;
    text-shadow: 1px 1px 3px var(--secondary-color);
  }
  @extend %default-transition;
}
%creditor-action {
  &:hover {
    cursor: pointer;
    color: var(--secondary-color);
    animation: pulse 0.5s alternate infinite;
  }
  @extend %default-transition;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}

//Borders
%default-border-radius {
  border-radius: $defaultBorderRadius;
}
%default-border-top {
  border-top: $defaultBorderSize solid var(--border-color);
}
%default-border-right {
  border-right: $defaultBorderSize solid var(--border-color);
}
%default-border-bottom {
  border-bottom: $defaultBorderSize solid var(--border-color);
}
%default-border-left {
  border-left: $defaultBorderSize solid var(--border-color);
}
%small-border {
  border: $borderSizeSmall solid var(--border-color);
}

//Box-Shadow
%box-shadow-top-left {
  box-shadow: -3px -3px 6px -2px var(--border-color);
}
%box-shadow-bottom-right {
  box-shadow: 3px 3px 6px -2px var(--border-color);
}
%box-shadow-bottom-left {
  box-shadow: -3px 3px 6px -2px var(--border-color);
}
%box-shadow-left-right {
  box-shadow: 3px 0 6px -2px var(--border-color),
    -3px 0 6px -2px var(--border-color);
}
%box-shadow-top-bottom {
  box-shadow: 0 3px 6px -2px var(--border-color),
    0 -3px 6px -2px var(--border-color);
}
//TODO: Remove ?
%box-shadow-left-right-blue {
  box-shadow: 3px 0 6px -2px blue, -3px 0 6px -2px blue;
}
%box-shadow-top-bottom-blue {
  box-shadow: 0 3px 6px -2px blue, 0 -3px 6px -2px blue;
}
