@use "@/styles/variables";
@use "@/styles/placeholders";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&family=Bai+Jamjuree:ital,wght@0,400;0,500;1,400;1,500&family=Baloo+Da+2:wght@400;500;600&family=Chakra+Petch:wght@400;500;600&family=Gruppo&family=Heebo:wght@300;400;600&family=Mukta:wght@300;400;600&display=swap");
$font-chakra: "Chakra Petch", sans-serif;
$font-chakra-weight: 400;

$font-baloon-family: "Baloo Da 2", sans-serif;
$font-baloon-weight: 400;

$font-bai-family: "Bai Jamjuree", sans-serif;
$font-bai-weight: 400;

$font-mukta-family: "Mukta", sans-serif;
$font-mukta-weight: 400;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: $font-chakra;
  font-weight: $font-chakra-weight;
  box-sizing: border-box;
}

#app {
  height: 100%;
  width: 100%;
  margin: 0;
  min-width: 1024px;
}

#creditor_app {
  background-color: var(--primary-color);
  color: var(--text-color);
}

h2 {
  margin: 0;
  padding: 0.3rem 0;
}

button,
input,
label {
  font-family: $font-mukta-family;
  font-weight: $font-mukta-weight;
}

.file-uploader input[type="button"],
button {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  @extend %small-border-radius;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  &:hover {
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
    cursor: pointer;
  }
  span {
    font-size: 1.1rem;
  }
}

.success-message {
  color: var(--success-text);
}

.failed-message {
  color: var(--danger-text);
}
