@use "@/styles/variables" as *;
@use "@/styles/placeholders" as *;

#creditor_app {
  width: 100%;
  height: 100%;
  .app_menue {
    @extend %box-shadow-bottom-right;
    border-bottom-right-radius: $defaultBorderRadius;
  }
  .version_info {
    @extend %box-shadow-left-right;
    @extend %box-shadow-top-bottom;
    border-bottom-left-radius: $defaultBorderRadius;
    border-bottom-right-radius: $defaultBorderRadius;
  }
  .nav_bar {
    @extend %box-shadow-bottom-left;
    border-bottom-left-radius: $defaultBorderRadius;
  }
  .account_window {
    background: radial-gradient(
      circle,
      var(--inner-background) 60%,
      var(--outer-background) 100%
    );
    @extend %small-border;
    border-top-right-radius: $defaultBorderRadius;
    border-bottom-right-radius: $defaultBorderRadius;
    @extend %default-padding;
  }
  .main_window {
    border: 2px solid green;
    border-top-left-radius: $defaultBorderRadius;
    border-bottom-left-radius: $defaultBorderRadius;
    @extend %default-padding;
  }
  .history_list {
    @extend %box-shadow-top-bottom;
    border-top-right-radius: $defaultBorderRadius;
  }
  .status_window {
    // border: {
    //   top: 1px solid red;
    //   left: 1px solid red;
    // }
    // @extend %box-shadow-top-left;
  }
}
